

@media (max-width: 670px) {
	.icon,
	.close-btn {
		display: block;
	}
	.icon {
		position: absolute;
		right: 24px;
	}
	.links {
		position: absolute;
		top: 0;
		height: 100%;
		width: 90%;
		right: -90%;
		background: #fff;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		z-index: 2;
		transition: 0.3s ease-in-out;
	}
	.links li {
		margin-right: 0;
		margin-bottom: 50px;
		font-size: 1.5em;
	}
	.close-btn {
		position: absolute;
		top: 24px;
		right: -90vh;
		color: #575757;
		font-size: 2em;
		z-index: 3;
		transition: 0.3s ease-in-out;
	}
	.close-btn:hover {
		color: #000;
		cursor: pointer;
	}
	/* Open class */
	.open .links {
		right: 0;
	}
	.open .close-btn {
		right: 32px;
	}
	.open .backdrop {
		display: block;
    }
	.top-wrapper .right-wrapper {
		position: relative;
		float: none;
	}
}