@import url('https://fonts.googleapis.com/css?family=Poppins:400,600&display=swap');
* {
	margin: 0;
	padding: 0;
}
body {
	background: #3e3e3e;
	min-height: 100vh;
	font-family: 'Poppins';
	overflow-x: hidden;
}

/* Desktop view */
.navbar {
	width: 100%;
	background: #fff;
	border-bottom: 1px solid #ccc;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 30px;
	box-sizing: border-box;
}
.icon,
.close-btn {
	display: none;
	font-size: 1.2em;
	cursor: pointer;
}
.links {
	display: flex;
	list-style: none;
}
.links li {
	margin-right: 24px;
}
.links li a {
	text-decoration: none;
	color: #575757;
	letter-spacing: -0.5px;
}
.links li a:hover {
	color: #000;
}
.backdrop {
	display: none;
	animation: 0.4s ease-in-out fadeIn forwards;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: rgba(0, 0, 0, 0);
	cursor: pointer;
}
@keyframes fadeIn {
	to {
		background: rgba(0, 0, 0, 0.8);
	}
}