@import url('https://fonts.googleapis.com/css?family=Poppins:400,600&display=swap');
* {
	margin: 0;
	padding: 0;
}
body {
	background: #fff;
	min-height: 100vh;
	font-family: 'Poppins';
    overflow-x: hidden;
}

/* Navbar */
/* Desktop view */
.navbar {
	width: 100%;
	background: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 30px;
	box-sizing: border-box;
}
.icon,
.close-btn {
	display: none;
	font-size: 1.2em;
	cursor: pointer;
}
.links {
	display: flex;
	list-style: none;
}
.links li {
	margin-right: 24px;
}
.links li a {
	text-decoration: none;
	color: #575757;
	letter-spacing: -0.5px;
}
.links li a:hover {
    color: #000;
    text-decoration: underline;
    font-weight: 600;
}
.backdrop {
	display: none;
	animation: 0.4s ease-in-out fadeIn forwards;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: rgba(0, 0, 0, 0);
	cursor: pointer;
}
@keyframes fadeIn {
	to {
		background: rgba(0, 0, 0, 0.8);
	}
}
/* end of navbar  */

body {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}
/* home */
#home {
    margin-top: 1rem;
}

.top-wrapper {
    padding: 10px 30px;
    max-width:1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.top-wrapper .left-wrapper {
    position: relative;
}

.top-wrapper .right-wrapper {
    position: relative;
    float: right;
}
.right-wrapper img{
    width: 500px;
    height: 450px;
}

.btn-service{
    display: block;
    width: 100px;
    margin: 1rem 0 10px 0;
    padding: 5px;
    color: #1a222c;
    background-color: transparent;
    border: 1px solid #1a222c;
    border-radius: 10px;
    text-align: center;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    transition: color .3s ease-out,background-color .3s ease-out,border-color .3s ease-out;
}
.btn-service:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
